@model EsqueciSenhaModel
@{ 
    ViewBag.Subtitulo = "E-mail de redefinição de Senha Enviado";
}

<h1 class="text-primary">E-mail de Redefinição de Senha Enviado</h1>
<hr />

<p style="width: 400px; margin-right: auto; ">Uma mensagem foi enviada para seu e-mail, contendo um link para redefinição.
    Abra para redefinir sua senha</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Volta à Página Principal</a>