@using EstoqueWeb.Extensions
@inject UserManager<UsuarioModel> _userManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




@if (Context.User.Identity.IsAuthenticated)
{
    var usuario = await _userManager.GetUserAsync(Context.User);
    <div>
    <li class="nav-item dropdown pt-4"style="list-style:none;" >
        <a class="nav-link dropdown-toggle text-primary mb-4 mr-5" href="#" role="button" data-bs-toggle="dropdown">
            <span class="text-primary p-2 text-user">Olá, <b>@usuario.NomeCompleto</b></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end bg-dark mt-4" style="margin-right: 10vh" >
            <li>
                <a class="dropdown-item text-primary"   asp-controller="Usuario" asp-action="AlterarSenha" classes-if-active="disabled">
                    Alterar Senha
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item text-primary" asp-controller="Usuario" asp-action="Logout">Sair</a>
            </li>
        </ul>
    </li>
    </div>
}
else
{

    <a class="nav-link  mr-3 fw-bold" style="font-size: 17px;" asp-controller="Usuario" asp-action="Login">Entrar</a>
    <a class="text-primary text-decoration-none mr-5 fw-bold" style="font-size: 17px;" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar</a>
}